/**
History:
2014-APRIL-03 FBolaji #sync - applink style added
2014-JULY-28  FBolaji fix for topNav singin 
*/
/* Extracts from CSS files for main navigation and footer links */
/*FBolaji - NEW Font from webtype */
@font-face {
font-family: "FordAntennaRegular";
src: url("/assets/fonts/FordAntennaRegular/FordAntenna-Regular.eot");
src: url("/assets/fonts/FordAntennaRegular/FordAntenna-Regular.eot?") format("embedded-opentype"),
url("/assets/fonts/FordAntennaRegular/FordAntenna-Regular.woff") format("woff"),
url("/assets/fonts/FordAntennaRegular/FordAntenna-Regular.ttf") format("truetype"),
url('/assets/fonts/FordAntennaRegular/FordAntenna-Regular.svg') format('svg');
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "FordAntennaBold";
src: url("/assets/fonts/FordAntennaBold/FordAntenna-Bold.eot");
src: url("/assets/fonts/FordAntennaBold/FordAntenna-Bold.eot?") format("embedded-opentype"),
url("/assets/fonts/FordAntennaBold/FordAntenna-Bold.woff") format("woff"),
url("/assets/fonts/FordAntennaBold/FordAntenna-Bold.ttf") format("truetype"),
url('/assets/fonts/FordAntennaBold/FordAntenna-Bold.svg') format('svg');
font-style: normal;
font-weight: bold;
}
@font-face {
font-family: "FordAntennaBlack";
src: url("/assets/fonts/FordAntennaBlack/FordAntenna-Black.eot");
src: url("/assets/fonts/FordAntennaBlack/FordAntenna-Black.eot?") format("embedded-opentype"),
url("/assets/fonts/FordAntennaBlack/FordAntenna-Black.woff") format("woff"),
url("/assets/fonts/FordAntennaBlack/FordAntenna-Black.ttf") format("truetype"),
url('/assets/fonts/FordAntennaBlack/FordAntenna-Black.svg') format('svg');
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "FordAntennaLight";
src: url("/assets/fonts/FordAntennaLight/FordAntenna-Light.eot");
src: url("/assets/fonts/FordAntennaLight/FordAntenna-Light.eot?") format("embedded-opentype"),
url("/assets/fonts/FordAntennaLight/FordAntenna-Light.woff") format("woff"),
url("/assets/fonts/FordAntennaLight/FordAntenna-Light.ttf") format("truetype"),
url('/assets/fonts/FordAntennaLight/FordAntenna-Light.svg') format('svg');
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "FordAntennaExtraLight";
src: url("/assets/fonts/FordAntennaExtraLight/FordAntenna-ExtraLight.eot");
src: url("/assets/fonts/FordAntennaExtraLight/FordAntenna-ExtraLight.eot?") format("embedded-opentype"),
url("/assets/fonts/FordAntennaExtraLight/FordAntenna-ExtraLight.woff") format("woff"),
url("/assets/fonts/FordAntennaExtraLight/FordAntenna-ExtraLight.ttf") format("truetype"),
url('/assets/fonts/FordAntennaExtraLight/FordAntenna-ExtraLight.svg') format('svg');
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "FordAntennaCond";
src: url("/assets/fonts/FordAntennaCond/FordAntenna-Cond.eot");
src: url("/assets/fonts/FordAntennaCond/FordAntenna-Cond.eot?") format("embedded-opentype"),
url("/assets/fonts/FordAntennaCond/FordAntenna-Cond.woff") format("woff"),
url("/assets/fonts/FordAntennaCond/FordAntenna-Cond.ttf") format("truetype"),
url('/assets/fonts/FordAntennaCond/FordAntenna-Cond.svg') format('svg');
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "FordAntennaCondMedium";
src: url("/assets/fonts/FordAntennaCondMed/FordAntenna-CondMed.eot");
src: url("/assets/fonts/FordAntennaCondMed/FordAntenna-CondMed.eot?") format("embedded-opentype"),
url("/assets/fonts/FordAntennaCondMed/FordAntenna-CondMed.woff") format("woff"),
url("/assets/fonts/FordAntennaCondMed/FordAntenna-CondMed.ttf") format("truetype"),
url('/assets/fonts/FordAntennaCondMed/FordAntenna-CondMed.svg') format('svg');
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "FordAntennaCondBold";
src: url("/assets/fonts/FordAntennaCondBold/FordAntenna-CondBold.eot");
src: url("/assets/fonts/FordAntennaCondBold/FordAntenna-CondBold.eot?") format("embedded-opentype"),
url("/assets/fonts/FordAntennaCondBold/FordAntenna-CondBold.woff") format("woff"),
url("/assets/fonts/FordAntennaCondBold/FordAntenna-CondBold.ttf") format("truetype"),
url('/assets/fonts/FordAntennaCondBold/FordAntenna-CondBold.svg') format('svg');
font-style: normal;
font-weight: bold;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary,reg
{
display: inline-block;
}
audio,canvas,video {
display: inline-block; *
display: inline; *
zoom: 1;
}
audio:not ([controls] ) {
display: none;
}
[hidden] {
display: none;
}
html {
font-size: 100%;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}
html,button,input,select,textarea {
font-family: sans-serif;
color: #222;
}
body {
margin: 0;
font-size: 70%;
line-height: 130%;
}
: :-moz-selection {
background: #fe57a1;
color: #fff;
text-shadow: none;
}
: :selection {
background: #fe57a1;
color: #fff;
text-shadow: none;
}
a:link{
/*color: #00e;*/
text-decoration: none;
outline: none !important;
}
a:visited {
/*color: #551a8b;*/
outline: none;
text-decoration: none;
}
a:hover {
color: #06e;
}
a:focus {
outline: thin dotted;
}
a:hover,a:active {
outline: 0;
}
abbr[title] {
border-bottom: 1px dotted;
}
b,strong {
font-weight: bold;
}
blockquote {
margin: 1em 40px;
}
dfn {
font-style: italic;
}
hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #ccc;
margin: 1em 0;
padding: 0;
}
ins {
background: #ff9;
color: #000;
text-decoration: none;
}
mark {
background: #ff0;
color: #000;
font-style: italic;
font-weight: bold;
}
pre,code,kbd,samp {
font-family: monospace, serif;
_font-family: 'courier new', monospace;
font-size: 1em;
}
pre {
white-space: pre;
white-space: pre-wrap;
word-wrap: break-word;
}
q {
quotes: none;
}
q:before,q:after {
content: "";
content: none;
}
small {
font-size: 85%;
}
sub,sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}
sup {
top: -0.5em;
}
sub {
bottom: -0.25em;
}
ul,ol {
list-style: none;
margin: 1em 0;
padding: 0px;
}
dd {
margin: 0;
}
nav ul,nav ol {
list-style: none;
list-style-image: none;
margin: 0;
padding: 0;
}
img {
border: 0;
-ms-interpolation-mode: bicubic;
vertical-align: middle;
}
svg:not (:root ) {
overflow: hidden;
}
h1,h2,h3,h4,h5,h6,p,figure {
margin: 0;
}
form {
margin: 0;
}
fieldset {
border: 0;
margin: 0;
padding: 0;
}
label {
cursor: pointer;
}
legend {
border: 0; *
margin-left: -7px;
padding: 0;
white-space: normal;
}
button,input,select,textarea {
border: 1px solid #D5D4D4;
border-radius: 3px 3px 3px 3px;
color: #445b6a;
font-family: FordAntennaRegular, Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-size: 100%;
margin: 0;
vertical-align: baseline; *
vertical-align: middle;
}
button,input {
line-height: normal;
}
button,input[type="button"],input[type="reset"],input[type="submit"] {
cursor: pointer;
-webkit-appearance: button; *
overflow: visible;
}
button[disabled],input[disabled] {
cursor: default;
}
input[type="checkbox"],input[type="radio"] {
box-sizing: border-box;
padding: 0; *
width: 13px; *
height: 13px;
}
input[type="search"] {
-webkit-appearance: textfield;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box;
}
input[type="search"]: :-webkit-search-decoration,input[type="search"]:
:-webkit-search-cancel-button {
-webkit-appearance: none;
}
input[type="search"]:focus {
outline: none;
}
button: :-moz-focus-inner,input: :-moz-focus-inner {
border: 0;
padding: 0;
}
textarea {
overflow: auto;
vertical-align: top;
resize: vertical;
}
input:valid,textarea:valid {
}
input:invalid,textarea:invalid {
background-color: none;
box-shadow: none;
}
input:required {
box-shadow: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
td {
vertical-align: top;
}
.chromeframe {
margin: 0.2em 0;
background: #ccc;
color: black;
padding: 0.2em 0;
}
.fr {
float: right;
}
.fl {
float: left;
}
.boldTxt {
font-weight: bold;
}
.loader {
background:
url(/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=loader)
no-repeat scroll center 10px #FFFFFF;
/*border: 1px solid #CCCCCC;*/
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
color: #A1A1A1;
display: inline-block;
padding: 37px 5px 10px 10px;
text-align: left;
z-index: 99999999;
}
#wrapper{
width:100%;
float: left;
}
a#skipToMainNav {
background: #000;
color: #fff;
left: -99999px;
padding: 2px 5px;
position: absolute;
text-decoration: underline;
top: 0px;
z-index: 400;
}
a#skipToMainNav :focus {
left: 126px;
}
#underLayer{
background: #000000;
display:none;
height: 100%;
left: 0;
position: absolute !important;
top: 0px;
width: 100% !important;
z-index: 1000;
}
#wrapper .skip {
padding: 0;
margin: 0;
position: relative;
}
.skip li {
display: inline-block;
}
.skip li a,a.skip {
background-color: #333;
display: block;
left: -999em;
position: absolute;
top: 0px;
width: 700px;
}
.skip a:focus,a.skip:focus {
left: 0;
margin-left: 100px;
padding: 2px 0px 2px 4px;
height: 20px;
z-index: 400000;
}
.skip a,a.skip {
color: #fff;
}
#wrapper #logo {
left: 10px;
position: absolute;
top: 10px;
z-index: 500000;
}
#logo>span {
display: block;
text-indent: -999em;
}
#wrapper .sbeLinks {
margin: 0px auto;
height: 20px;
padding: 4px 10px 0;
position: absolute;
top: 0px;
text-align: left;
width: 960px;
z-index: 20000;
}
.sbeLinks ul {
display: inline-block;
margin-left: 100px;
}
.sbeLinks ul.userAccess{
margin-left:0;
}
.sbeLinks li, .sbeLinks li:hover {
display: inline-block;
line-height: 16px;
margin-right: 15px;
position: relative;
}
.userAccess li:last-child {
margin-right: 0px;
}
.sbeLinks li>a {
color: #fff;
padding: 3px 0;
text-transform: uppercase;
}
.sbeLinks li>a:hover,.flyout a:hover,.flyout a:focus,.flyout a:active {
color: #2D96CD;
}
.sbe,.active>.sbe {
color: #fff;
}
.sbe>span,.userAccess li>a>span {
background-repeat: no-repeat;
background-color: transparent;
display: inline-block;
float: left;
height: 15px;
margin-top: 1px;
width: 24px;
}
.userAccess li>a>span {
height: 12px;
margin-top: 2px;
width: 15px;
}
.sbe:active span,.sbe:focus span,.sbe:hover span,.levelOne:active>.sbe>span,.sbeLinks li.levelOne.focused>.sbe>span,.active>.sbe>span
{
background-position: 0px -15px;
}
.userAccess>li>a:hover>span,.userAccess>li>a:focus>span,.userAccess>li>a:active>span,.userAccess>li>.active>span
{
background-position: 0px -12px;
}
.sbeLinks .flyout {
background:
url(/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=sbe_flyout_tiles)
no-repeat left bottom transparent;
max-height: 190px;
left: -99999px;
padding: 0 3px 5px;
position: absolute;
top: 17px;
width: 174px;
z-index: 1000;
}
.flyout dl {
float: left;
margin: 0;
padding: 0;
}
.sbeLinks .flyout>dl>dt,.sbeLinks .flyout>dl>dd:first-child {
background:
url(/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=stiching_tile)
repeat-x 1px 1px;
}
.sbeLinks .flyout dt,.sbeLinks .flyout>dl>dd:first-child {
color: #cccccc;
margin-bottom: 2px;
margin-top: 0px;
margin-left: 1px;
margin-right: 0px;
width: 142px;
}
.flyout dt,.flyout dd {
float: left;
padding: 0 15px;
margin-top: -3px;
}
.flyout dt.last {
margin-top: 15px;
}
.flyout dt>span {
border-bottom: 1px solid #545454;
display: block;
margin: 0 0 10px;
padding: 10px 0 5px;
width: 142px;
}
.sbeLinks .flyout>dl>dd:first-child {
padding-top: 15px;
}
.flyout a {
color: #fff;
float: left;
margin-bottom: 5px;
text-transform: uppercase;
}
.sbeLinks li:hover>.flyout,.sbeLinks li>.flyout.showflyout {
left: -15px;
}
.sbeLinks li>a,.flyout dt>span,.flyout a {
color:#fff;
font: 10px FordAntennaCondBold, Arial, Verdana, Tahoma, Helvetica,
sans-serif;
letter-spacing: 0.025em;
text-decoration:none;
}
#mainTopNav {
border-bottom: 1px solid #ccc;
margin: 0px auto;
height: 40px;
padding-left: 100px;
position: absolute;
top: 24px;
text-align: left;
width: 880px;
z-index: 10000;
}
.navTitle {
height: 1px;
position: absolute;
text-indent: -99999px;
}
#section {
z-index: 1000;
}
#sections>li {
background: url(/assets/img/link_break.png) no-repeat 0 12px transparent;
float: left;
height: 37px;
padding: 3px 0 0 3px;
position: relative;
z-index: 400;
}
#sections>li:first-child{
padding-left:3px;
}
#sections>li>a {
color: #425968;
display: block;
font: 12px FordAntennaCondBold, Arial, Verdana, Tahoma, Helvetica,
sans-serif;
height: 22px;
padding: 11px 10px 4px;
text-transform: uppercase;
z-index: 500;
}
#sections>li>a:hover,#sections>li>a:focus {
background: #fff;
padding: 11px 10px 4px;
}
#sections>li>a>span {
display: block;
font: 11px FordAntennaCondBold, Arial, Verdana, Tahoma, Helvetica,
sans-serif;
padding: 0 5px;
margin-top: 2px;
text-transform: uppercase;
letter-spacing: 0.025em;
}
#sections>li.levelOne.focused:hover {
background: url(/assets/img/link_break_hover.png) no-repeat left top;
height: 37px;
z-index: 500;
}
#sections li.levelOne.focused>a {
background: url(/assets/img/link_break_right_hover.png) no-repeat right
top #fff;
}
#sections>li>a:hover span,#sections>li>a:focus span,#sections>li.levelOne.focused>a:focus span,#sections>li.levelOne.focused>a:hover
span,#sections>li.levelOne.focused>a>span:hover,#sections>li.levelOne.focused>a>span
{
background-color: #425968;
border-radius: 3px 3px 3px 3px;
color: #fff;
}
#sections>li>a>span.sepRight {
background: url(/assets/img/link_break.png) no-repeat 0 12px transparent;
height: 40px;
margin: 0;
padding: 0;
position: absolute;
right: 0;
top: 0;
width: 1px;
}
#sections>li>a:hover>span.sepRight,#sections>li>a:focus>span.sepRight,#sections>li.levelOne.focused:hover>a>span.sepRight,#sections>li.levelOne.focused:focus>a>span.sepRight,#sections>li.levelOne:hover>a>span.sepRight,#sections>li.levelOne:focus>a>span.sepRight
{
background: url(/assets/img/link_break.png) no-repeat 0 12px #fff;
display: none;
height: 40px;
margin: 0;
padding: 0;
position: absolute;
right: 0;
top: 0;
width: 1px;
}
#sections>li>.doormat {
background: #fefefe;
box-shadow: 0 2px 1px 0 #F1F1F1, inset 0 2px 2px 0 #bbbbbb;
display: none;
top: 40px;
left: -100px;
/*          height:395px;   */
padding: 0px 0px 0px 10px;
position: absolute;
text-align: left;
width: 970px;
z-index: -200;
}
#sections>li:hover>.doormat {
display: block;
}
.doormat a.skip:focus {
left: 10px;
position: absolute;
top: 0px;
width: 200px;
}
.navnextSteps a:hover, a.sel {
color: #2D96CD;
background: url("") no-repeat 169px white;
margin-right: 2px;
margin-right: 0;
}
.doormat > .innerWrap {
float: left;
min-height: 330px;
overflow: hidden;
}
.doormat > .innerWrap > .wrapperTabContent{
background: url(/assets/img/background/doormat_seperator_right.png) no-repeat top right;
float: left;
min-width: 340px;
min-height:300px;
margin: -12px 0px 0px -11px;
}
.doormat > .innerWrap > .pvnp-gradient{
background: url(/assets/img/background/doormat_seperator_left.png) no-repeat top left;
float: left;
margin-left: 20px;
margin-top: -12px;
min-height: 300px;
width: 32px;
}
.lt-ie9 .doormat > .innerWrap > .pvnp-gradient,
.lt-ie9 .doormat > .innerWrap > .wrapperTabContent{margin-top: -16px;}
#sections > li > .doormat{left: -10px;width:800px;}
#sections > li .flyout {
background: #fff;
-webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.4);
box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.4);
/* For IE 8 */
-ms-filter:
"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#66666666')";
/* For IE 5.5 - 7 */
filter: progid : DXImageTransform.Microsoft.Shadow ( Strength =3,Direction =   135, Color =   '#66666666' );
border-top: none;
display: none;
height:auto;
left: -10px;
top: 40px;
padding: 10px;
position: absolute;
min-width: 200px;
z-index: -200;
}
#sections>li>.flyout.last {
right: 0;
}
#sections>li:active>.flyout,#sections>li:hover>.flyout,#sections>li:focus>.flyout,#sections>li.levelOne:hover>.flyout
#sections>li.levelOne:active>.flyout,#sections>li.levelOne:focus>.flyout,#sections>li>.flyout.showflyout
{
display: block;
}
.lt-ie9 .underLayer { /* IE fixes */
filter: alpha(opacity = 50);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.doormat .tabContent {
float: left;
margin-top:5px;
}
.lt-ie9 .doormatContent.fl:before {
content: url(/assets/img/background/doormat_primaryLink_separator.png)
no-repeat 0 5px;
filter: alpha(opacity = 50);
filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 0.5 );
opacity: .50;
}
.doormatContent.fl {
padding:0px 30px;
width: 300px;
}
.doormatContent.fr {
background:
url(/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=doormat_model_sep)
no-repeat -86px 64px transparent;
width: 448px;
padding-left: 45px;
height: 320px;
overflow: hidden;
}
.bigHeading {
color: #0E2046;
font-family: FordAntennaCondBold, Arial, Verdana, Tahoma, Helvetica,
sans-serif;
font-size: 24px;
/*font-style: normal;
font-weight: normal;*/
text-transform: uppercase;
}
.doormatContent .bigHeading {
color: #425968;
font-family: FordAntennaBlack, Arial, Verdana, Tahoma, Helvetica,
sans-serif;
font-size: 28px;
margin-top: 3px;
letter-spacing: -0.025em;
text-transform: uppercase;
/*line-height:1.4;*/
line-height: 30px;
width: 325px;
}
.doormatContent .bigHeading>span {
font-family: 'FordAntennaRegular', Arial, Verdana, Tahoma, Helvetica, sans-serif;
}
.doormatContent .smallHeading {
color: #425968;
font-family: 'FordAntennaBold', Arial, Verdana, Tahoma, Helvetica,sans-serif;
margin-top: 40px;
margin-bottom: 35px;
letter-spacing: 0.025em;
text-transform: uppercase;
}
.doormatContent p {
color: #425968;
font-family: 'FordAntennaRegular', Arial, Verdana, Tahoma, Helvetica,sans-serif;
font-size: 12px;
margin-top: 1px;
}
.doormatContent p > strong{font-family: 'FordAntennaBold', Arial, Verdana, Tahoma, Helvetica,
sans-serif;}
.doormatContent p>b {
font-family: 'FordAntennaCondBold', Arial, Verdana, Tahoma, Helvetica,
sans-serif;
}
.doormatContent figure img {
height:191px;
/*margin-left: -48px;*/
width:340px;
}
.miscellaneousFooter {
background: url(/assets/img/background/doormat_footer_bg.png) no-repeat
0 0;
padding: 10px 0px;
bottom: 0;
left: 0;
text-align: center;
width: 980px;
/*          height:37px;        */
}
/*  .doormat > .miscellaneousFooter{position:absolute;} */
.miscellaneousFooter .innerWrapper {
margin: 0 auto;
text-align: center;
width: 100%;
}
.doormat .miscellaneousFooter{
margin-left:-10px;
}
.miscellaneousFooter .content {
background: url(/assets/img/background/doormat_footer_separator.png)
no-repeat right top;
float: left;
/*      margin-top:3px;     */
padding-left: 10px;
padding-right: 10px;
text-align: left;
width: 31%;
}
.miscellaneousFooter.footer-length-3 .content:first-child{
margin-left:5px;
}
.miscellaneousFooter .content:last-child {
background: none;
}
.miscellaneousFooter .content img {
float: left;
margin-right: 15px;
margin-top: -1px;
}
.miscellaneousFooter .normalHeading {
color: #425968;
font: 12px 'FordAntennaBold', Arial, Verdana, Tahoma, Helvetica,sans-serif;
text-transform: uppercase;
margin-top: 1px;
}
.miscellaneousFooter p {
color: #425968;
font: normal 11px 'FordAntennaCond', Arial, Verdana, Tahoma, Helvetica,
sans-serif;
text-transform: uppercase;
}
.miscellaneousFooter a {
color: #425968;
}
.miscellaneousFooter a:hover,.miscellaneousFooter a:focus {
color: #2D96CD;
}
.miscellaneousFooter a:hover p,.miscellaneousFooter a:focus p {
color: #0E2046;
}
.wrapperTabContent .doormatContent.fl{padding-left:0;}
.pvNavLinkWrapper{
float: left;
margin: 6px 1px 0;
padding: 0;
}
.pvNavLinkWrapper .x-axis-footer.footer-length-2 .content,
.pvNavLinkWrapper .x-axis-footer.footer-length-3 .content,
.pvNavLinkWrapper .miscellaneousFooter.footer-length-3 .content:first-child{padding:0;margin:0;}
.pvHeroWrapper,.pvTertiaryWrapper{clear:both;}
.pvTertiaryWrapper{margin-left:-4px !important;}
.pvNavLinkWrapper .miscellaneousFooter{
margin:0;
padding:0;
background:none;
width:auto;
}
.pvNavLinkWrapper .miscellaneousFooter .content{
background:none;
clear:both;
margin:0;
padding:0;
width:240px;
}
.pvHeroWrapper .content{padding:0px 10px 15px 10px !important;}
.pvTertiaryWrapper .content{padding:0px 10px 5px 10px !important;}
.pvTertiaryWrapper .content:first-child{
background:url("/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=dp_separator") no-repeat scroll right top transparent;
padding-top:15px !important;
}
.pvHeroWrapper .miscellaneousFooter a{display: table}
.pvHeroWrapper .section-left{/*  width: 80px; */}
.pvHeroWrapper .section-left,
.pvHeroWrapper .section-right{display: table-cell;vertical-align: middle;}
.pvTertiaryWrapper .tertiary-link{display:inline-block;}
#sections ul.subMenu {
float: left;
width: 125px;
margin-top: 3px;
padding-right: 20px;
}
.slate .dwnArrow,
.slate .ctaArrow {
background-position: -29px -86px;
}
.slate a,
.slate a.tertiary-link:hover {
color: #425968;
}
.ctaLink a:hover .dwnArrow,
.ctaLink a:hover .ctaArrow {
background-position: -29px -33px;
}
.tertiary-link {
background: url(/assets/img/background/cta_blue_right_chevron.png)
center left no-repeat;
padding: 0 0 0 23px;
margin:0 0 0 2px;
line-height: 24px;
font-family: 'FordAntennaCondBold', Arial, Helvetica, Verdana, sans-serif;
font-size: 11px;
text-align: left;
display: block;
height: 24px;
letter-spacing: 0.025em;
}
.tertiary-link:hover {
background-image:url("/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=icon_sprite");
background-position: -28px -28px;
color: #425968;
}
#sections .flyout>ul.subMenu {
width: auto;
margin-top: 0;
}
#sections ul.subMenu li {
text-align: left;
margin:0px 0px 5px 12px;
/*white-space: nowrap;*/
width: 142px;
}
#sections .flyout ul.subMenu li {
text-align: left;
margin-bottom: 0px;
}
#sections ul.subMenu>li>a,.leftControl li>a {
display: inline-block;
color: #425968;
font: 12px FordAntennaBold, Arial, Verdana, Tahoma, Helvetica, sans-serif;
padding: 4px;
height: auto;
text-transform: uppercase;
text-decoration:none;
margin: -1px;
line-height: 14px;
}
#sections .flyout ul.subMenu>li>a {
display: block;
font: normal 13px FordAntennaCond, Arial, Verdana, Tahoma, Helvetica sans-serif;
padding: 1px 4px;
margin:0 0 5px;
width: 100%;
}
#sections .flyout ul.subMenu>li>a {
text-transform: none;
}
#sections ul.subMenu>li>a:hover,#sections ul.subMenu>li>a:focus,#sections ul.subMenu>li>a.selected,.leftControl li>a:hover,.leftControl li>a:focus
{
background-color: #425968;
border-radius: 3px;
color: #fff;
text-decoration:none;
}
/* search field re-styled */
.searchBox {
padding-right: 10px;
position: relative;
z-index: 100000;
}
.searchBox .leftcap {
background: url("/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=left_search_bg") no-repeat 0 -35px transparent;
float:left;
height:auto;
}
.searchBox .leftcap label {
background: url("/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=main_search_bg") repeat 0px -35px transparent;
margin-left: 10px;
color: #000;
height: 31px;
margin: 0 0 0 10px;
padding: 0px;
}
.searchBox input#s.searchField,
input[type="search"]{
background: none;
border: 0 none;
color: #313131;
font: 11px 'FordAntennaCondBold', Arial, Verdana, Tahoma, Helvetica, sans-serif;
margin-left: 10px;
margin-top: 8px;
padding: 1px 16px 1px 0;
text-transform: uppercase;
letter-spacing: 0.025em;
width: 299px;
z-index: 5000;
}
.searchBox input[type="submit"] {
background: url("/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=icon_search_bg") no-repeat 0 -35px transparent;
border: medium none;
border-radius: 0 0 0 0;
color: #FFFFFF;
height: 31px;
text-indent: -99999px;
width: 46px;
}
.js .searchBox .leftcap {
/* background: url("/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=left_search_bg") no-repeat 0 0 transparent; */
float:left;
height:auto;
}
.js .searchBox .leftcap label {
/* background: url("/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=main_search_bg") repeat 10px 0 transparent; */
margin-left: 10px;
}
.js .searchBox input#s.searchField,
.js input[type="search"]{
margin-top:8px;
margin-left:0;
width: 94px;
}
.js .searchBox input[type="submit"] {
/* background: url("/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=icon_search_bg") no-repeat 0 0 transparent; */
border: medium none;
border-radius: 0 0 0 0;
color: #FFFFFF;
height: 31px;
text-indent: -99999px;
width: 46px;
}
.js .searchBox:hover .leftcap,
.searchBox.expand .leftcap  {
background-position: 0 -35px;
margin-left: 10px;
}
.js .searchBox:hover .leftcap label,
.searchBox.expand .leftcap label {
background: url("/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=main_search_bg") repeat 10px -35px transparent;
}
.js .searchBox:hover input[type="submit"],
.js .searchBox:focus input[type="submit"],
.searchBox.expand input[type="submit"]{
background-position: 0 -35px;
}
#footerNav {
display: block;
margin: 0 auto 10px;
padding: 0;
position: relative;
text-align: center;
width: 960px;
}
#footerNav .listColumn {
float: left;
width: 189px;
}
#footerNav dl {
display: inline-block;
text-align: left;
width: 189px;
vertical-align: top;
}
.lt-ie9 #footerNav dl {
display: list-item;
list-style: none outside none;
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) { #footerNav dl{height: 290px;} }*/
#footerNav dt {
color: #FFFFFF;
font: 12px FordAntennaBold, Arial, Verdana, Tahoma, Helvetica,
sans-serif;
margin-top: 5px;
margin-bottom: 10px;
text-transform: uppercase;
width: 163px;
}
/*  #footerNav dt:first-child{margin-top:10px;}*/
#footerNav dd {
margin: 0;
padding: 2px 0
}
#footerNav dd a,#footerNav dd a:active,#footerNav dd a:visited {
color: #ccc;
font: normal 12px FordAntennaCond, Arial, Verdana, Tahoma, Helvetica,
sans-serif;
}
#footerNav dd a:hover {
color: #2D96CD;
}
#footerNav dd a.focus,#footerNav dd a.active {
color: #ccc;
}
#footerNav .flyout {
border-bottom: 1px dashed #505050;
margin-top: 0;
margin-bottom: 10px;
padding-bottom: 10px;
}
.lt-ie9 #footerNav .flyout {
display: block;
float: left;
}
#footerNav .flyout dl,#footerNav .flyout ul {
border-bottom: 1px dashed #505050;
padding-bottom: 15px;
margin-bottom: 15px;
width: 167px;
}
#footerNav .flyout dt,#footerNav .flyout .hdr {
padding: 0px;
margin-bottom: 5px;
margin-top: 10px;
}
#footerNav .flyout dt>span,#footerNav .flyout .hdr>span {
color: #cccccc;
margin: 0 0 0 25px;
padding: 0 0 10px;
width: 100%;
}
#footerNav .flyout dd,#footerNav .flyout li {
padding-left: 30px;
}
#footerNav .flyout dd>a,#footerNav .flyout li>a {
color: #fff;
font: 10px FordAntennaCondBold, Arial, Verdana, Tahoma, Helvetica,
sans-serif;
margin-bottom: 0px;
}
#footerNav dd a, #footerNav dd a:hover, #footerNav dd a:active, #footerNav dd a:visited{text-decoration:none;}
/* #footerNav .flyout dd > a > .icon.whiteArrowRight,#footerNav .flyout li > a > .icon.whiteArrowRight {background-position: -46px 0;}*/
#footerNav .flyout dd>a:hover,#footerNav dd>.active:hover {
color: #2D96CD;
}
#footerNav .social dd{
display:inline-block;
width:100%;
}
#footerNav .social a > span {
background-repeat: no-repeat;
display: inline-block;
float: left;
height: 20px;
width: 20px;
margin-right:2px;
}
#footerNav .social a:hover > span,
#footerNav .social a:focus > span{
background-position: -20px 0;
color: #2D96CD;
}
.otherLogo {
color: #FFFFFF;
display: block;
font-size: 11px;
height: 20px;
margin: 0 auto 5px;
text-align: center;
width: 980px;
}
a>.partners {
background-image: url("/assets/img/partner_logo.png");
background-repeat: no-repeat;
color: #ccc;
display: block;
float: right;
height: 18px;
width: 62px;
}
a:hover>.partners {
background-position: 0px -18px;
}
.dashRuler {
border-bottom: 1px dashed #545454;
/*background: url(/assets/img/background/footer_horizontal_divider.png) no-repeat 0 0; */
float: left;
width: 100%;
}
#footerLinks {
background:
url("/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=stiching_tile")
repeat-x scroll 1px top transparent;
padding-top:10px;
padding-bottom:10px;
}
.footerBottomLinks {
padding: 5px 0px;
}
.footerBottomLinks li {
display: inline-block;
padding-right: 20px;
}
.footerBottomLinks li.last {
padding-right: 0px;
}
.footerBottomLinks li a,.footerBottomLinks li.last {
color: #ccc;
font: normal 11px FordAntennaCond, Arial, Verdana, Tahoma, Helvetica,
sans-serif;
text-decoration: none;
}
.footerBottomLinks li a:hover,.footerBottomLinks li a:focus {
color: #2D96CD;
text-decoration: underline;
}
.footerDisclaimer {
background: url("/assets/img/background/footer_disclaimer_bg.png")
repeat-y scroll 0 0 transparent;
border-bottom: 1px solid #545454;
border-radius: 3px 3px 3px 3px;
-ms-radius: 3px 3px 3px 3px;
-o-border-radius: 3px 3px 3px 3px;
border-top: 1px groove #000;
display: block;
float:none;
margin: 20px auto 50px;
padding: 0 20px 20px;
width: 920px;
}
.footerDisclaimer p,.footerDisclaimer small {
color: #ccc;
font-size: 11px;
margin-top: 10px;
}
/*
FULL PAGE WIDTH OVERRIDES
*/
#wrapper {
margin: 0 auto;
text-align: center;
padding: 0px;
position: relative;
min-width: 980px;
width: 100%;
}
#wrapper>header {
background: url(/assets/img/background/header_bg.png) repeat-x
transparent;
height: 65px;
position: relative;
text-align: left;
text-align: left;
padding: 0px;
width: 980px;
z-index: 10000;
}
#wrapper .topContainer {
right: 0;
/* margin-left: -490px;*/
position: absolute;
top: 65px;
width: auto;
z-index: 9999;
}
#wrapper>div {
margin-top:-3px;
}
#wrapper footer {
background:
url(/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=footer_tiles)
repeat 0 0 #1F1F1F;
padding-left:0px;
padding-right:0px;
padding-top: 0px;
margin-top: 0px;
text-align: left;
width: 960px;
float:left;
height:auto !important;
}
#wrapper > header, #wrapper > footer {
width: 100%;
box-sizing: border-box;
}
#wrapper > footer {
margin-top: 1px;
}
#wrapper > div, #wrapper .mainContent {
padding-left: 0px;
padding-right: 0px;
text-align: left;
width: 980px;
margin:0 auto;
}
#wrapper .topContainer {
/*left: 50%;
margin-left: -490px;
margin-left: 680px;*/
}
.promo-carousel {
top: 45px;
}
#headerContent {
width: 980px;
margin: 0 auto;
position: relative;
}
/*#underLayer {
left: 50% !important;
margin-left: -490px !important;
background: #222 !important;
display: none;
opacity: 0.7;
position: absolute !important;
top: 64px;
width: 980px !important;
z-index: 1000 !important;
}*/
#footerNav {
overflow: auto;
}
#footerLinks {
float: none;
box-sizing: border-box;
overflow: auto;
margin: 0;
display: block;
margin: 0 auto;
overflow: auto;
text-align: center;
padding-left: 10px;
padding-right: 10px;
width: 980px;
}
/**** CV DROPDOWNMenu  STYLE  ***/  
/* CVSdropdownmenu */
.navigation-grid-wrapper {
background: #fff;
padding: 0;
position: relative;
}
.primary-nav-items {
width: 160px;
padding: 0;
margin: 0;
text-align: right;
min-height: 210px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
text-transform: uppercase;
font-family: FordAntennaBold;
overflow-y: hidden;
border-right: 0px solid #dddddd;
border-width: 0 0px 0 0;
-webkit-border-image: -webkit-linear-gradient(rgba(221, 221, 221, 0.1) 30px, rgba(221, 221, 221, 1), rgba(221, 221, 221, 1)) 1 100%;
-o-border-image: -o-linear-gradient(rgba(221, 221, 221, 0.1) 30px, rgba(221, 221, 221, 1), rgba(221, 221, 221, 1)) 1 100%;
-moz-border-image: -moz-linear-gradient(rgba(221, 221, 221, 0.1) 30px, rgba(221, 221, 221, 1), rgba(221, 221, 221, 1)) 1 100%;
}
.navigation-grid-wrapper .miscellaneousFooter {
margin:0;
overflow:hidden
}
/*
.primary-nav-items > li {
margin: 0 0 5px;
margin: 0 15px 0 0;
}*/
.primary-nav-items > li:first-child {
margin-top: 15px;
}
.primary-nav-items > li > a {
padding: 4px;
color: #666;
font-size: 12px;
margin: 0;
color: #425968;
display: inline-block;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
cursor:pointer;
}
.primary-nav-items > li > a:hover, .primary-nav-items > li.active > a {
background: #425968;
color: #fff;
}
.navigation-grid-items {
display: none;
min-height:210px;
position: absolute;
width: 820px;
left: 160px;
top: 3px;
background: #FFFFFF;
overflow: hidden;
padding: 0 0 20px;
margin: 0;
}
.navigation-grid-items li {
display:inline-block;
font-size: 11px;
height: 160px;
margin-left: 7px;
text-align: left;
width: 195px;
border-top: 1px solid #dddddd;
}
.navigation-grid-items li > a:hover {
border-bottom: 3px solid #2d96cd;
}
.navigation-grid-items li a {
color: #425968;
padding: 7px 20px;
display: block;
box-sizing: border-box;
/*height: 150px;
width: 165px;*/
}
.navigation-grid-items li a h5 {
font-family: FordAntennaCondBold,Arial,Verdana,Tahoma,Helvetica,sans-serif;
font-size: 12px;
letter-spacing: 0.025em;
width:205px;
}
.navigation-grid-items li a span {
font-family: 'FordAntennaRegular', Arial, Verdana, Tahoma, Helvetica, sans-serif;
text-transform: none;
}
.navigation-grid-items li a span strong {
font-family: 'FordAntennaBold', Arial, Verdana, Tahoma, Helvetica, sans-serif;
letter-spacing: 0.1em;
}
.navigation-grid-items li.title {
background: none;
border: none;
font-size: 28px;
color: #425968;
display: inline-block;
height: auto;
font-family: FordAntennaBlack;
padding: 10px 20px;
position: relative;
letter-spacing: -0.025em;
margin-top:5px;
margin-left:1px;
vertical-align: top;
width: 94%;
}
.navigation-grid-items li:first-child + li + li a {
background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 1) 38%, rgba(255, 255, 255, 1) 46%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(38%, rgba(255, 255, 255, 1)), color-stop(46%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 1) 38%, rgba(255, 255, 255, 1) 46%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg, rgba(255, 255, 255, 1) 38%, rgba(255, 255, 255, 1) 46%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(255, 255, 255, 1) 38%, rgba(255, 255, 255, 1) 46%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
background: linear-gradient(45deg, rgba(255, 255, 255, 1) 38%, rgba(255, 255, 255, 1) 46%, rgba(255, 255, 255, 0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#00ffffff', GradientType = 1); /* IE6-9 fallback on horizontal gradient */
}
.navigation-grid-items li img {
display: inline-block;
height: 96px;
width: 170px;
}
/**New Nav STARTS*/
#sections > li > .doormat.navigation-grid-wrapper{
display:none;
left: -156px;
padding:0;
width:980px;
}
#sections > li:hover > .doormat.navigation-grid-wrapper{
display:block;
min-height:240px;
-webkit-transition: height 0.1s ease-in;
-moz-transition: height 0.1s ease-in;
-ms-transition: height 0.1s ease-in;
-o-transition: height 0.1s ease-in;
transition: height 0.1s ease-in; 
}
.primary-nav-items{
float:left;   
width:160px;
}
.primary-nav-items > li{
text-align:left;
margin:0 15px 5px 15px;
}
.primary-nav-items > li > a,
.primary-nav-items > li > a.selected{
border-radius: 3px;
color: #425968;
cursor: pointer;
display: inline-block;
font-size: 12px;
margin: 0;
padding: 4px;
}   
.primary-nav-items > li > a.selected {
background:#425968;
color: #fff;     
} 
.cvInnerWrap{
/*min-height:250px;*/
}
.list-content{
margin-left: 160px;
}
.list-content ul.navigation-grid-items{
background: url(/cs/ContentServer?pagename=ENGInE/EP2/common/GetImageByName&imageName=cv_nav_sep) no-repeat 0px 5px;
position:static;
padding-bottom:20px;
display:none;
}
.list-content ul li{
border:none;
background:none;
display:inline-block;
}
.cv-vehicle-disclaimer{
margin: 0 auto;
padding-top:15px;
padding-bottom: 15px;
text-align: center;
width: 80%;
}
/* ENDS of NEW Nav */               
/**** CV DROPDOWN STYLE ENDS ***/                
/* Overrides EP1 stuff */
.sbeLinks li > a, .flyout dt > span, .flyout a {
color:#fff;
}
.sbeLinks li > a, .flyout dt > span, .flyout a, #footerNav dd a, #footerNav dd a:hover, #footerNav dd a:active, #footerNav dd a:visited{text-decoration:none;}
/*#sections > li > a{text-decoration:none;}*/
#wrapper #lockup_container{display: none;}
#wrapper #frame, #frame_lo1{top:0px;}
#wrapper #frame {
display:block;
background-color: #FFFFFF;
overflow:hidden;
}
.ir {
display: block;
border: 0;
text-indent: -999em;
overflow: hidden;
background-color: transparent;
background-repeat: no-repeat;
text-align: left;
direction: ltr; *
line-height: 0;
}
.ir br {
display: none;
}
#wrapper header .hidden,
#wrapper footer .hidden {
display: none !important;
visibility: hidden;
}
.visuallyhidden {
border: 0;
clip: rect(0, 0, 0, 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
clip: auto;
height: auto;
margin: 0;
overflow: visible;
position: static;
width: auto;
}
.invisible {
visibility: hidden;
}
.clearfix:before,.clearfix:after {
content: "";
display: table;
}
.clearfix:after {
clear: both;
}
.clearfix { *
zoom: 1;
}
.hideText {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}
/* fix for sign in top menu*/
#sbe span#loggedinTitle{
width:auto;
height:auto;
margin-top:0;
float:none
}
/* BECAUSE THE SEARCH BOX/BREADCRUMB nixes the Bing maps controls */
.MicrosoftNav{
position:absolute;
top:3px!important;
height:30px!important;
}
/* =============================================================================
Print Styles
========================================================================== */
@media print {
* {
background: transparent !important;
color: black !important;
box-shadow: none !important;
text-shadow: none !important;
filter: none !important;
-ms-filter: none !important;
} /* Black prints faster: h5bp.com/s */
a,a:visited {
text-decoration: underline;
}
pre,blockquote {
border: 1px solid #999;
page-break-inside: avoid;
}
thead {
display: table-header-group;
} /* h5bp.com/t */
tr,img {
page-break-inside: avoid;
}
img {
max-width: 100% !important;
}
@page {
margin: 0.5cm;
}
p,h2,h3 {
orphans: 3;
widows: 3;
}
h2,h3 {
page-break-after: avoid;
}
#headerContent > *{
display:none;
}
#headerContent #logo{ display:block}
/*#container_navi_dl,#container_navi{
display:none;
}*/
#container_main{width:980px;}
#container_main_dl{width:980px;}
#wrapper > footer{
display:none;
}
#dlSearchMapviewer{
width:980px;
}
}
/*** XAXIS Specific footer layout - Content boxes etc.. ***/
.x-axis-footer {
position: static;
}
.x-axis-footer.footer-length-1 .content {
padding: 0 34.5%;
}
.x-axis-footer.footer-length-2 .content {
padding: 0 9.5%;
}
.x-axis-footer.footer-length-3 .content {
padding: 0 1%;
}
.x-axis-footer .content.ctaLink {
text-align: center;
}
.x-axis-footer .content.ctaLink a {
display: inline-block;
overflow: auto;
}
.x-axis-footer .content a:hover {
color: #0E2046;
}
.x-axis-footer .content a:hover h3 {
color: #2D96CD;
}
.cookieAlertBox{
background-color: #666666;
display: none;
float: left !important;
padding: 10px 0;
position: relative !important;
top: 0;
bottom:0;
right:0;
width: 100% !important;
z-index: 100000;
}
.cookieAlertBox .cookie-closebtn {position:absolute;right:30px}
.cookieAlertBox .top{
float: left;
width:100%;
}
.top > .title{
color: #FFFFFF;
float: left;
font: 15px FordAntennaBold,Arial,Helvetica,sans-serif;
padding-left: 21px;
text-align: left;
text-shadow: 0 0 2px #000000, 0 0 4px #000000, 0 0 4px #000000, 0 0 4px #000000, 0 0 4px #000000, 0 0 4px #000000, 0 0 4px #000000, 0 0 4px #000000;
}
.top > sub{
color: #FFFFFF;
font: 30px/0 FordAntennaBold,Arial,Helvetica,sans-serif;
left: 0;
margin: -14px 7px 0 0;
padding: 0;
position: absolute;
text-shadow: 0 0 2px #000000, 0 0 4px #000000, 0 0 4px #000000, 0 0 4px #000000, 0 0 4px #000000, 0 0 4px #000000, 0 0 4px #000000, 0 0 4px #000000;
top: 28px;
}
.top > .closeBtn{
background : url("/cs/ENGInE/img/cookie_legislation_btclose.gif") no-repeat;
height:15px;
position: absolute;
right: 6px;
text-indent:-999999px;
top: 6px;width:15px;
}
.cookieAlertBox .midContent{
float: none;
margin: 0 auto;
position: relative;
width: 980px;
}
.midContent p{
color: #FFFFFF;
font: 11px FordAntennaBold,Arial,Helvetica,sans-serif;
text-align: center;
padding-right: 74px;
line-height:16px;
}
.midContent a {color:#FFFFFF !important; text-decoration:underline;}
.midContent ul,.midContent li{
list-style: none;
padding:0;
margin:0;
text-align:center;
}
.midContent li{
margin-bottom:15px;
}
.midContent li a{
color:#415969;
font: 9px FordAntenna, Arial, Helvetica, sans-serif;
text-decoration:underline;
}
.midContent a.btnLink{
background: url("/cs/ENGInE/img/cookie_legislation_btright.png") no-repeat right 0 transparent;
display: block;
height: 25px;
padding: 0 2px;
text-decoration: none;
}
.midContent a.btnLink span{
background: url("/cs/ENGInE/img/cookie_legislation_btleft.png") no-repeat 0 0 transparent;
color: #FFFFFF;font: 9px FordAntenna,Arial,Helvetica,sans-serif;
display: block;
height: 21px;
margin-right: 9px;padding-top: 4px;padding-left: 7px;text-shadow: 0 0 2px #000000, 0 0 4px #000000, 0 0 4px #000000, 0 0 4px
#000000, 0 0 4px #000000, 0 0 4px #000000, 0 0 4px #000000, 0 0 4px #000000;
}
.cookieAlertBox .bottom{
background: url("/cs/ENGInE/img/cookie_legislation_bgbo.png") repeat-x transparent;
height:5px;
position: relative;
width: 196px;
float:left;
}
.cookieAlertBox .midContent, #frame .cookieAlertBox .midContent, #frame_lo1 .cookieAlertBox .midContent{
background:none;
min-height: 0px;
padding:0;
}  
#lpButtonDiv-sales{
height: 119px;
padding: 10px;
position: fixed;
right: -159px;
top: 50%;
width: 200px;
z-index: 2000; 
}
#lpButtonDiv-sales:hover{
right: -8px;
transition-property: all;
transition-duration: 1s;
transition-timing-function: ease-out;
transition-delay: 0.1s
}
#container_center p {margin:1em 0 0;}
#container_main ul {list-style: disc; margin-left:16px;}
#container_main ol {list-style: decimal;margin-left:16px;}
#container_main ul li{margin-bottom:3px;}
#cookieAlertBoxID {
min-height: 0;
}
/*specific tab style for SYNC2 APPLINK Layout4-EP2 */
#sync .grid_3 {
width: 200px;
}
#sync .grid_7 {
float:left;
width: 570px;
margin-right:10px;
text-align:left;
}
#sync .feature-apps-icon{
border: 1px solid #C8C8C8;
border-radius: 5px;
float: left;
padding-bottom: 15px;
margin-top:20px;
width: 100%;
}
#sync .feature-apps-icon .textWrapper{    
background: none repeat scroll 0 0 #C8C8C8;
border-bottom: 1px solid #C8C8C8;
font-size: 12px;
padding: 5px 10px;}
#sync .feature-apps-icon ul{margin-left:0px;}
#sync .feature-apps-icon li {display:inline;}
#sync .feature-apps-icon li img{
background: none repeat scroll 0 0 #CCCCCC;
border: 1px solid #c8c8c8;
border-radius: 5px;
box-shadow: 0 0 2px 0 #CCCCCC;
float: left;
/*     height: 70px; */
margin-left: 5px;
/*     width: 85px;  */
}   
#sync .tab-wrapper{float:left;padding-left:0px;margin-top:20px;width:100%;}
#sync .tab-wrapper nav.tabs{margin-left:10px;} 
#sync .innertab-wrapper{
float:left;
border:1px solid #C4C4C4;
border-radius:5px;
margin-top: -1px;
min-height:350px;
text-align:left;
width:100%;
} 
#sync #tabs.fixed-width{
float:left;
width:100%;
}
#sync #inner-tabs.tabs{
margin-left:10px;
}
#sync #inner-tabs.tabs li{}
#sync #inner-tabs.tabs li:hover{}
#sync #inner-tabs.tabs li.selected, 
#sync #inner-tabs.tabs li.selected:hover{
box-shadow: 0 -5px 2px 0 #c8c8c8;  
height: 40px;    
}
#sync .tab-content{
padding:10px 10px;
} 
#sync #inner-tabs li a {
display: table-cell;
font-size: 11px;
min-width: 60px;
padding: 5px 10px;
text-align: center;
vertical-align: middle;
width:auto;
}  
#sync .features-tab{
padding-top:20px;
margin-bottom:20px;
margin-top: -5px;
min-height:80px;
}
#sync .center_item.cta-block{
border: 1px solid #C4C4C4;
border-radius: 5px;
float: left;
margin: 10px 0;
padding: 10px;
text-align: left;
width: 96.5%;
}
#sync .center_item.cta-block .btnLink{
float: right;
margin-top: 10px;   
}
#sync .innertab-wrapper .bti-wrapper {
clear: both;
display: block;
padding-left: 10px;
margin-bottom: 23px;
width: auto;
}
#sync .bto-wrapper{
margin-bottom:20px;
}
#sync .bti-image, 
#sync .bti-image img {
width: 97px;
height: 97px;
}
#sync .bti-image {
float: left;
margin: 0 10px 0 0;
padding-right: 10px;
}
#sync .bto-body, 
#sync .bti-body {
color: #505050;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-size: 12px;
width: 100%;
}
/* MDP styles - to resolve css conflict */
#sync div#mdp{
height: 439px;
}
#sync .mdp2{
top:-35px;
}
#sync .mdp2 table{
border-collapse: collapse;
border-spacing: 0;
border-color: none;
border-width: 0;
color: inherit;    
height: 32px;
overflow: hidden;
margin:0;
width: 769px;
}
#sync table tbody td:first-child{border:none;}
#sync table td{
border-width: 0; 
padding: 0; 
border-style: none; 
border-color: transparent; 
vertical-align: inherit;
}
#sync table tbody tr:hover{
background:transparent;
}
.lt-ie9 #sync .mdc001Container{
top:-10px;
}   
#container_center_layout7{width:100%;height:650px;}
/*#container_center_layout7 > #layout7IFrame{width:100%;height:100%;} */
/* IFRAME FULL-WIDTH FOR Layout7_EP2_FullWidth template  STYLES */
/* For Turkey configurator IFRAME */
#iframe-fullwidth-layout7 #wrapper .mainContent{
width:100%;
}
#iframe-fullwidth-layout7 > #wrapper,
#iframe-fullwidth-layout7 > #wrapper #frame,
#iframe-fullwidth-layout7 #container_main,
#iframe-fullwidth-layout7 #container_center_layout7{float:left;width:100%;height:100%;}
#iframe-fullwidth-layout7 #wrapper .mainContent{margin-top:-39px;}
/* IFRAME Styles ENDS*/ 